.filter_container{class: controller.action_name}
  .row
    .col-lg-12
      %ul.unstyled.polygons
        - @categories.each do |c|
          %li.polygon.category{class: c.name.downcase.gsub(/ /, "-").gsub("&", "and")}
            %a.cat.trackHist{href: "/explore", data: {track: "cat", category: c.name.downcase.gsub(/ /, "-").gsub("&", "and"), id: c.id.to_s, filter: c.name.downcase.gsub(/ /, "-").gsub("&", "and")}}
              %span.en
                = c.name
              %span.fr
                = c.name_french.html_safe
        
  .row
    .col-lg-12
      %ul.unstyled.content-types
        %li.content-type.seeAll
          %a.trackHist.sAll{href: "#", data: {track: "all"}}
            .icon
            .text
              %span.en
                See all
              %span.fr
                Voir la  suite
        - @subcategories.each do |s|
          %li.content-type.subcategory{class: s.value}
            %a.subcat.trackHist{href: "/explore", data: {track: "subcat", subcategory: s.value, filter: s.value}}
              .icon
              .text
                %span.en
                  = s.name
                %span.fr
                  = s.name_french.html_safe
            - unless s == @subcategories.last
              .line